@media screen and (max-width:720px) {
    .img-inicio {
        width: 350px !important;
    }
}

@media screen and (max-width:480px) {
    .titulo {
        font-size: 40px;
    }

    .btn-inciar {
        font-size: 10px !important;
    }

    .campoRepostas {
        flex-direction: column;
        gap: 20px !important;
        width: 90%;
        margin-top: 20px;
    }

    .campoRepostas .group {
        gap: 20px !important;
    }

}
