 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

 * {
     margin: 0;
     padding: 0;
 }

 body {
     width: 100vw;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     font-family: "Poppins", sans-serif;
 }

 main {
     width: 100% !important;
     height: 100% !important;
 }

 .img-inicio {
     width: 500px;
     border: 5px solid white;
     border-radius: 3px;

 }

 .titulo {
     font-size: 50px;
     color: white;
 }

 .tela-inicial {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     transition: all.4s;
     width: 100% !important;
     height: 100% !important;
     gap: 25px;
     background-color: #1F497D;
 }


 .btn-iniciar {
     font-size: 2em;
     padding: 1em 3em;
     border: none;
     background-image: linear-gradient(to right, #2e20ef, #57adeb);
     color: white;
     transition: background-color 0.5s ease;
     cursor: pointer;
     text-transform: uppercase;
     font-weight: 800;
     border-radius: 10px;
     box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.221)
 }

 .btn-iniciar:hover {

     background-image: linear-gradient(to right, #220adb, #531bee);
 }



 .caixa-perguntas {
     display: flex;
     color: white;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 15px;
     height: 100%;
     text-align: center;
 }

 .caixa-perguntas .campoRepostas {
     display: flex;
     gap: 40px;
     list-style: none;
 }

 .imgPergunta {
     width: 250px;
     border: 5px solid white;
     border-radius: 3px;
 }

 .contador {
     font-size: 20px;
 }

 .pergunta {
     font-size: 25px;
 }



 .group {
     display: flex;
     flex-direction: column;
     gap: 10px;
 }

 .respostas {
     min-width: 180px;
     max-width: 100%;
     background-color: #778899;
     padding: 10px;
     text-transform: uppercase;
     font-weight: 800;
     color: white;
     box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.247);
     cursor: pointer;
     border-radius: 5px;
 }

 .respostas:active {
     transform: scale(0.96);
 }

 .tela-resultado {
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-color: #cee5c3;
     color: white;
     font-size: 40px;
     text-shadow: 1px 1px 2px black;
 }

 .botao-minigame {
     margin-top: 30px;
     border: none;
     outline: none;
     padding: 20px;
     border-radius: 5px;
     cursor: pointer;
     font-size: 25px;
     text-transform: uppercase;
     display: flex;
     gap: 5px;
     justify-content: center;
     align-items: center;
     background-color: #2E8B57;
     color: #fff;
     font-weight: 800;
     box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.204);
 }

 .botao-minigame:hover {
     background-color: #016108;
 }

 .botao-minigame:active {
     transform: scale(0.96);
 }

 .none {
     display: none;
 }
